@import url(https://fonts.googleapis.com/css?family=Nunito+Sans|PT+Sans+Narrow|Titillium+Web|Ubuntu);
body {
	font-size: 20px;
	font-family: "Ubuntu", sans-serif;
}
.resize {
	display: block;
	width: 250px;
	height: auto;
}
img {
	padding: 0 0 1.5em 0;
}
div {
	font-size: .8em;
	width: 98%;
	padding: 2%;
	display: inline-block;
}
section {
	overflow: auto;
}
#about {
	float: left;
}
#services {
	float: right;
}