@import url(https://fonts.googleapis.com/css?family=Nunito+Sans|PT+Sans+Narrow|Titillium+Web|Ubuntu);
body {
	color: #000080;
	font-family: "Ubuntu", sans-serif;
	font-size: 20px;
}
.resize {
	display: block;
	width: 300px;
	height: auto;
}
img {
	padding: 0 0 1.5em 0;
}
nav {
	background-color: #000080;
}
nav a {
	font-size:.8em;
	background-color: #000080;
	text-decoration: none;
	color: #FFFFFF;
	padding: 20px;
	margin: 1.8em;
	display: block;
	float: left;
}
a:hover {
	background-color: #46d246;
}
section {
	width: 46%;
	padding: 2%;
	display: inline-block;
	overflow: auto;
	clear: both;
}
h1, h2 {
	font-size: 1.5em;
}
p {
	font-size: .8em;
}
ul {
	font-size: .8em;
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	float; left;
	width: 25%;
	height: 6em;
	outline: 3px solid #222;
	text-align: center;
	line-height: 6em;
}
footer {
	text-align: center;
	padding: 1em 0;
	font-size: .6em;
}
#copyright {
	text-align: right;
	font-size: 10px;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}