@import url(https://fonts.googleapis.com/css?family=Nunito+Sans|PT+Sans+Narrow|Titillium+Web|Ubuntu);
body {
	text-align: center;
	font-family: "Calibri Light";
	background-color: #FFFFFF;
	color: #007F1C;
}
#Slogan {
	font-style:italic;
	font-size: 15px;
	font-family: "Ubuntu", sans-serif;
}
p {
	font-size: 20px;
	font-family: "Ubuntu", sans-serif;
	}
#Summary {
	margin:10px 70px;
	font-family: "Ubuntu", sans-serif;
}
#List {
	font-weight: bold;
	font-family: "Ubuntu", sans-serif;
}
ul {
	text-align: center;
	list-style-type: none;
	font-family: "Ubuntu", sans-serif;
}
#Logo {
	background-position: 30% 20%;
}