@import url(https://fonts.googleapis.com/css?family=Nunito+Sans|PT+Sans+Narrow|Titillium+Web|Ubuntu);
body {
	color: #000080;
	font-family: "Ubuntu", sans-serif;
}
header {
	display: block;
	max-width: 40%;
	height: auto;
}
footer {
	text-align: center;
	padding: 1em 0;
}
#copyright {
	text-align: left;
}