body {
	background: url("www.pacificcoastnursery.com/images/nursery7_sm.jpg");
	background-size: cover;
	text-align: center;
	font-family: "Calibri Light";
	color: #000000;

}
#Slogan {
	font-style: italic;
}