body {
	font-family: "Calibri Light";
	background-color: #A0EBFF;
	color: #000000;
}
h1, p {
	text-align: center;
}
#Slogan {
	font-style:italic;
}
p {
	font-size: 50px;
}
#Summary {
	margin:10px 5px 15px 20px;
}
