body {
	background-image: url("images/pcn.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	font-family: "Calibri Light";
	color: black;
}
ul {
	text-align: center;
}
#Slogan {
	font-style: italic;
}